.header {
  top: 0;
  width: 100%;
}
.header-login {
  display: flex;
  justify-content: flex-end;
  padding-top: 65px;
  padding-right: 40px;
}

.login-button {
  background-color: #1690C3;
  color: white;
  border: none;
  border-radius: 4px;
  width: 118px;
  height: 42px;
  font-size: 32px;
}

.jeKlogo {
  display: flex;
  justify-content: center;
  margin-top: 117px;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
/*
.App {
  text-align: center;

}
*/

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 88px;
}

.ligacoes {
  color: white;
  background-color: #1690C3;
  padding-top: 9px;
  padding-bottom: 14.07px;
  margin: 8.965px;
  width: 423px;
  height: 48.07px;
  text-align: center;
  border: none;
  font-size: 24px;
  border-radius: 9px;
  text-decoration: none; 
}
