.Google-login-button {
  color: white;
  display: flex;
  justify-content: right;
  align-items: right;
  padding-top: 1.5em;
  padding-right: 2.1875em;
}

/*
.App {
  text-align: center;

}*/

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding-top: 30.6875em;
}

.btn {
  padding-top: 0.125em;
  padding-bottom: 0.1875em;
  margin: 1em;
  color: white;
  background-color: #1690C3;
  width: 43em;
  height: 3.1875em;
  border: none;
  border-radius: 0.625em;
  font-size: 2em;
}