.header {
  top: 0;
  width: 100%;
}
.header-login {
  display: flex;
  justify-content: flex-end;
  padding-top: 4.0625em;
  padding-right: 2.5em;
}

.login-button {
  background-color: #1690C3;
  color: white;
  border: none;
  border-radius: 4px;
  width: 118px;
  height: 42px;
  font-size: 32px;
}

.jeKlogo {
  display: flex;
  justify-content: center;
  margin-top: 7.3125em;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 1.125em;
}
/*
.App {
  text-align: center;

}
*/

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5.5em;
}

.ligacoes {
  color: white;
  background-color: #1690C3;
  padding-top: 0.5625em;
  padding-bottom: 0.875em;
  margin: 1em;
  width: 26.4375em;
  height: 3.004375em;
  text-align: center;
  border: none;
  font-size: 24px;
  border-radius: 0.625em;
  text-decoration: none; 
}
